.form-container {
  padding: 15px 20px;
}

form {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.form-itself select,
.form-itself input {
  padding: 10px;
  border: 1px solid #d9d8d9;
  border-radius: 5px;
  width: 100%;
}

.form-itself label {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  flex-grow: 1;
  max-width: 300px;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-body > p {
  font-size: large;
  margin-left: 70px;
}

.form-body > .form-row-1 {
  display: flex;
  gap: 20px;
  width: 100%;
}

.form-row-1-inputs,
.form-row-2,
.form-row-3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.fr1-row,
.fr2-row,
.fr3-row {
  display: flex;
  flex-grow: 1;
  gap: 10px;
}

.suffix-gname {
  display: flex;
}

.form-row-1-image {
  max-width: 150px;
}

.suffix-gname {
  flex-grow: 1;
  width: 100%;
}

.suffix-gname select {
  width: fit-content !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #d9d8d9;
}

.suffix-gname option {
  background: #fff;
}

.suffix-gname input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.fr1-row-nolabel {
  width: 100%;
}

.given-name-label {
  max-width: none !important;
}

.form-row-1-inputs label {
  max-width: none !important;
}

.fr1-row-labled label {
  flex: 1 !important;
}

.form-row-1-image {
  height: 100%;
}

.patient-image-label {
  max-width: fit-content !important ;
}

.patient-image-label > p {
  opacity: 0;
}

.form-row-1-image {
  background: #d9d8d9;
  text-align: center;
}

.submit-button {
  margin-top: 15px;
  width: fit-content;
  padding: 10px;
  color: var(--green-shade);
  border: none;
  background: #b6ea8f;
  border-radius: 5px;
  font-weight: bold;
}

.required::before {
  content: "*";
  color: var(--red-shade);
  position: absolute;
  right: 101%;
  top: 3px;
}

.age-years {
  background: #d9d8d9;
}
