.form-container {
  padding: 15px 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-body-heading {
  font-size: large;
  margin-left: 70px;
}

form select,
form input {
  padding: 10px;
  border: 1px solid #d9d8d9;
  border-radius: 5px;
  width: 100%;
}

form label {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-end;
}

.form-part-2 {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 15px 10px;
}

.form-part-1 {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 15px 10px;
}

.form-row-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 15px;
}

.form-row-1 > div {
  grid-column: 1 / 4;
}

.form-row-1-image {
  max-width: 150px;
  height: 100%;
  border: 1px dashed #d9d8d9;
  text-align: center;
}

.suffix-gname {
  display: flex;
}

.suffix-gname select {
  border-radius: 5px 0 0 5px;
  background-color: #d9d8d9;
  flex: 1;
}
.suffix-gname input {
  border-radius: 0 5px 5px 0;
  flex: 3;
}

.suffix-gname option {
  background: #fff;
}

.patient-image-label > p {
  opacity: 0;
}

.submit-button {
  margin-top: 15px;
  width: fit-content;
  padding: 10px;
  color: var(--green-shade);
  border: none;
  background: #b6ea8f;
  border-radius: 5px;
  font-weight: bold;
}

.required::before {
  content: "*";
  color: var(--red-shade);
  position: absolute;
  right: 101%;
  top: 3px;
}

.age-years {
  background: #d9d8d9;
}

.form-active-select label {
  max-width: 300px !important ;
}
