.header-container {
  background: var(--header-color);
  padding: 10px 20px 20px 20px;
  border-bottom: 1px solid var(--accent-color);
  display: flex;
  justify-content: space-between;
}

.header-btns button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.clear-form-btn {
  color: var(--red-shade);
  background: #feecee;
}

.header-btns {
  display: flex;
  gap: 10px;
}

.back-nav-btn {
  color: var(--gey-shade);
  background: var(--accent-color);
}
