.delete-warning-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 300px;
  padding: 20px 20px 20px 20px;
  z-index: 1;
  border-radius: 5px;
  visibility: hidden;
  /* transition: visibility 0.3s ease-in-out; */
}

.d-w-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.d-w-content > p {
  text-align: center;
  font-size: 14px;
  color: #706f6f;
}
.d-w-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.delete-icon > svg {
  color: #ea3c4d;
  width: 80px;
  height: 80px;
}

.delete-icon {
  padding: 5px;
  border-radius: 50%;
  background-color: #feecee;
}

.d-w-cancel-btn {
  background: var(--accent-color);
  color: black;
  border: 1px solid #706f6f;
}

.d-w-delete-btn {
  background: #feecee;
  color: #ea3c4d;
}

.show-element {
  visibility: visible;
}

.d-w-close-icon {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.d-w-close-icon > svg {
  color: #706f6f;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.d-w-buttons button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}



